body {
  text-align: center;
  background-color: #F0F0F0; 
}

footer {
  margin: 3px;
  padding: 5px;
  font-size: .5em;
}

.image-margin {
  margin-top: 24px;
  
  border-style: solid;
  border-width: 1px;
  border-color: #40394b; 
}

.container {
  display: block;
  margin-top: 72px;
  margin-left: auto;
  margin-right: auto; 

  width: 360px;
  color: #FFFFFF;

  border-style: solid;
  border-width: 1px;
  border-color: #51485E; 
  border-radius: 3px;
  
  background-color: #51485E;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24);
  z-index: 2;
}

.icon-container {
  margin-bottom: 10px;
}

.col-md-4 > a {
  color: #FFF;
}

.col-md-4 > a:hover {
  color: #B0B0B0;
}